* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #201B2C;

}

.formulario {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 4px 6px 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2F2942;
    padding: 40px 60px;
}

.titulo-formulario {
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
    color: #00FC91;
    letter-spacing: 6px;
}

.input-text,
.input-password{
    width: 100%;
    padding: 14px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    background-color: #514768;
    color: white;
}

.input-text::placeholder,
.input-password::placeholder {
    color: rgba(255, 255, 255, 0.63);
}

.input-text:focus,
.input-password:focus {
    border: 1px solid #999898; 
    outline: none;
}

.botao-logar {
    width: 100%;
    background-color: #00FF87;
    color: #002743;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.botao-logar:hover {
    background-color: #09c06b;
    font-weight: bold;
}

.paragrafo {
    margin: 20px 0;
    color: white;
}

.link {
    text-decoration: none;
    color: #00FF87;
}